:root{
    --primary-color: #e0c521;
}
.btn{
    cursor: pointer;
    padding: 0.6rem 0.8rem;
    font-size: 1.2rem;
    text-align: center;
    border: 0;
    outline: none;
    border-radius: 10px;
    width: 120px;
    margin-left: 10px;
    box-shadow: 1px -3px 52px -5px rgba(0,0,0,0.77);
}
.btn.add{
    background-color: var(--primary-color)
}
.btn.remove{
    background-color: tomato
}
.btn.checkout{
    background-color: green;
    color: white;

}
.btn:active{
    transform: scale(0.93);
}
.btn.add:hover{
    background-color: #cab320;
}
.btn.remove:hover{
    background-color: rgb(209,83,61);
}
.btn.checkout:hover{
    background-color: darkgreen;
}